<section id="gigs" class="container">
    {{#if company}}
        <h1>Welcome, {{company}}</h1>
    {{/if}}
        <a href="/company/logout" class="btn btn-reverse">logout</a>

</section>

 <section id="gigs" class="container">
     <h1>Posted Jobs:</h1>
  {{#if gigs}}
    {{#each gigs}}
    <h1>{{title}}</h1>

    <div href="/gigs/{{id}}" class="gig" >
        <h3>{{description}}</h3>
        <ul>
            <li>Budget: {{budget}}</li>
            <li><a href="mailto:{{contact_email}}" class="btn btn-reverse">Edit</a></li>
            <li><a href="/gigs" class="btn btn-primary">All gigs</a></li>
             <li>
                  <form action="/gigs/delete/{{id}}" method="POST" >
                     <button type="submit" href="#" class="btn btn-reverse error" style="margin-top:-540px">Remove me</span>
                  </form>
              </li>
        </ul>
        <div class="tech">
             <small>Technologies Needed: <span>{{technologies}}</span></small>
             <div style="float-right;color:lightgray">{{createdAt}}</div>
        </div>
    </div>
    {{/each}}
{{else}}
    <h3>
        You have not posted anything.
    </h3>
{{/if}}
  </section>